<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta content="Compre todo lo que guste, electrónica, juguetes para sus hijos, ropa.">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/dashboard.css') }}">

</head>
<body>
	<center>
		<h1>Heroku App Found</h1>
	</center>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/javascript.js') }}"></script>
</body>
</html>
